<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8" />
    <title>Projektin työaikaseuranta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">Työaikaseuranta</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('projects_index') }} "
              >Projektit</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('projects_form') }} "
              >Lisää projekti</a
            >
          </li>
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('workload_report') }} "
              >Tuntikirjausraportti</a
            >
          </li>
          {% endif %}
          {% if current_user.name == 'admin' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin_tools') }} "
              >Ylläpito</a
            >
          </li>
          {% endif %}
        </ul>
        <div class="form-inline mt-2 mt-md-0">
          {% if current_user.is_authenticated %}
          <span class="text" style="color: white;">
            Kirjautunut nimellä {{ current_user.name }}.
            <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
          </span>
          {% else %}
          <a href="{{ url_for('auth_login') }}">Kirjaudu</a> |
          <a href="{{ url_for('register_form') }}">Rekisteröidy</a>
          {% endif %}
        </div>
      </div>
    </nav>

    <main role="main" class="container">
      {% block body %}
      <p>
        Content.
      </p>
      {% endblock %}
    </main>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
