{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" action="{{ url_for('projects_create') }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        {% for error in form.name.errors %}
          {{ error }}
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.description.label }}
      </td>
      <td>
        {{ form.description }}
      </td>
      <td>
        {% for error in form.description.errors %}
          {{ error }}
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.start_date.label }}
      </td>
      <td>
        {{ form.start_date }}
      </td>
      <td>
        {% for error in form.start_date.errors %}
          {{ error }}
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.end_date.label }}
      </td>
      <td>
        {{ form.end_date }}
      </td>
      <td>
        {% for error in form.end_date.errors %}
          {{ error }}
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.running.label }}
      </td>
      <td>
        {{ form.running }}
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <input type="submit" value="Lisää"/>
      </td>
    </tr>
</form>
{% endblock %}