{% extends "layout.html" %} {% block body %}
<h3>Projektin tiedot</h3>
<table>
  <tr>
    <th>Käynnissä</th>
    <th>Nimi</th>
    <th>Kuvaus</th>
    <th>Alkaa</th>
    <th>Päättyy</th>
    <th>Omistaja</th>
  </tr>
  <tr>
    <td>{{ project.running }}</td>
    <td>{{ project.name }}</td>
    <td>{{ project.description }}</td>
    <td>{{ project.start_date }}</td>
    <td>{{ project.end_date }}</td>
    <td>{{ project.get_owner_name() }}</td>
    {% if current_user.id == project.owner_id %}
    <td>
      <a
        href="{{ url_for('projects_modify', project_id=project.id) }}"
        class="btn btn-primary"
        >Muokkaa</a
      >
    </td>
    <td>
      <a
        href="{{ url_for('projects_hourly_report', project_id=project.id) }}"
        class="btn btn-primary"
        >Tuntiraportti</a
      >
    </td>
    {% endif %}
  </tr>
</table>

{% if not project in current_user.attending %}
<form
  method="POST"
  action="{{ url_for('projects_join', project_id=project.id) }}"
>
  <input type="submit" value="Liity" />
</form>
{% else %}
<p>
  <b>Tuntilomake</b>
</p>
<form
  method="POST"
  action="{{ url_for('workloads_create', project_id=project.id) }}"
>
  <table>
    <tr>
      <td>
        {{ form.date.label }}
      </td>
      <td>
        {{ form.date }}
      </td>
      <td>
        {% for error in form.date.errors %} {{ error }} {% endfor %}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.hours.label }}
      </td>
      <td>
        {{ form.hours }}
      </td>
      <td>
        {% for error in form.hours.errors %} {{ error }} {% endfor %}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.task.label }}
      </td>
      <td>
        {{ form.task }}
      </td>
      <td>
        {% for error in form.task.errors %} {{ error }} {% endfor %}
      </td>
    </tr>
  </table>
  <input type="submit" value="Lisää tunnit" />
</form>
<p>
  Missä käyttäjä näkee lisätyt tunnit? Käyttäjän tuntiraportti ja muokkaus?
</p>
{% endif %} {% endblock %}
